* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app .header {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    display: flex;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.app h1 {
    flex-basis: 90%;
}

.app h2 {
    flex-basis: 5%;
}

.quiz {
    font-size: 30px;
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.inp {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#explanation {
    display: none;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

/* Multiplication Table */
.row {
    /* border: 1px solid black; */
    height: 100%;
    line-height: 1em;
}

.highlighted_row {
    border: 3px solid red;
}

.highlighted_col {
    border: 3px solid red;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
}

/* .box {
    display: inline-grid;
    width: 7.69230769231%;
    height: 100%;
    font-size: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
 } */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
}

/* td input {
    position: relative;
    z-index: 1;
} */

.timeinput {
    color: #222;
    font-weight: 300;
    font-size: 28px;
    height: 100%;
    width: 100%;
    text-align: center;
}